.input {
    border: 2px solid #6dd5dc;
    box-shadow: 0 0 5px rgba(109, 213, 220, 0.4);
    transition: .3s;
}

.input:disabled {
    background: white;
}

.label {
    font-family: Arial;
    color: #20676c;
    pointer-events: none;
}

.input:not(:placeholder-shown) + .label,
.input:focus + .label,
.input.filled + .label {
    color: #9ecfd3;
}

.error .input {
    border: 2px solid #ad0000;
    box-shadow: 0 0 5px rgba(173, 0, 0, 0.4);
}

.input:placeholder-shown:disabled + .label {
    background: transparent;
}

.error .input + .label {
    color: #ad0000;
}